@import url("https://fonts.googleapis.com/css2?family=Liter&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap");

:root {
  /* Font */
  --roboto: "Roboto";

  /* Colors */
  --color1: #003049;
  --color2: #fdf0d5;
  --color3: #669bbc;
  --color4: #dad7cd;
  --color5: #15616d;
  --color6: #ffffff;
  --color7: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--color1);
}

h1 {
  font-family: var(--roboto);
  margin-top: 50px;
  font-weight: 700;
  color: var(--color4);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 360px;
  max-width: 100%;
  height: 400px;
  border-radius: 10px;
  background-color: var(--color2);
  box-shadow: 0px 1px 1px 5px rgba(255, 0, 0, 0.5);
}

.user-input {
  margin-top: 30px;
  width: 250px;
  max-width: 100%;
  height: 40px;
  border: none;
  border-bottom: 2px solid rgba(73, 73, 73, 0.719);
  display: flex;
  font-family: var(--roboto);
  font-size: 25px;
  padding: 10px;
  text-align: center;
  background: none;
  color: var(--color7);
}

input::placeholder {
  color: #7c71718e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
  text-align: center;
  background: none;
}

.buttons-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 280px;
  max-width: 100%;
  padding: 2px;
}

.check-btn {
  width: 100px;
  max-width: 100%;
  height: 30px;
  font-family: var(--roboto);
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: var(--color5);
  color: var(--color6);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(5, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
  filter: blur(10%);
  box-shadow: 0px 1px 1px 2px rgba(80, 73, 73, 0.637);
}

button:hover {
  background-color: var(--color2);
  color: var(--color7);
}

.clear-btn {
  width: 100px;
  max-width: 100%;
  height: 30px;
  font-family: var(--roboto);
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: var(--color5);
  color: var(--color6);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(5, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  cursor: pointer;
}

.results-div {
  display: flex;
  flex-direction: column;
  padding: 3px;
  width: 300px;
  max-width: 100%;
  height: 230px;
  border-radius: 5px;
  background-color: var(--color3);
  box-shadow: 0px 1px 1px 5px rgba(0, 0, 0, 0.719);
  overflow-y: auto;
  margin: 2px;
}

.results-div::-webkit-scrollbar {
  width: 10px;
}

.results-div::-webkit-scrollbar-track {
  background-color: var(--color2);
  border-radius: 20px;
}

.results-div::-webkit-scrollbar-thumb {
  background-color: var(--color5);
  border-radius: 20px;
  border: 1px solid var(--color2);
}

li {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
  list-style: none;
  font-family: var(--roboto);
}

span {
  margin: 3px;
}

.text {
  height: 25px;
  justify-content: center;
  text-align: center;
  font-family: var(--roboto);
  font-size: 25px;
  font-weight: bold;
}

.value {
  justify-content: center;
  text-align: center;
  font-family: var(--roboto);
  font-size: 25px;
  color: var(--color2);
}

@media (max-width: 690px) {
  h1 {
    text-align: center;
    font-size: 35px;
  }
}
